<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- (1)共通headerで置き換える -->
<head th:replace="common :: meta_header('top',~{::link},~{::script})">
    <!-- (2)このページ固有で読み込むCSS/JS -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/starter-template.css}" />
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>

</head>
<body>
    <!-- (3)共通部品を呼び出す -->
    <div th:replace="common :: header"></div>
    <h2>top page</h2>
</body>